body {
  background-color: #878787; /* Set your desired background color here */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  font-family: 'MyCustomFont', fallback, sans-serif; /* Apply your custom font */
}

/* Additional global styles */
* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  background-color: inherit; /* Ensure #root inherits the body background color */
  text-align: center;
  font-family: 'MyCustomFont', fallback, sans-serif; /* Apply your custom font */
}
